



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden-block{
  opacity: 0;
}
.block-size-header{
  block-size: 65px !important;
}

.css-kkbtad-euiKeyPadMenuItem-enabled:hover,
.css-kkbtad-euiKeyPadMenuItem-enabled:focus,
.css-kkbtad-euiKeyPadMenuItem-enabled:focus-within {
  cursor: default !important; /* Đổi con trỏ thành mặc định */
  /* Xóa tất cả các hiệu ứng hover và tương tác hover */
  text-decoration: none !important; /* Xóa underline */
  box-shadow: none !important; /* Xóa bất kỳ hiệu ứng shadow nào */
}
nav.header-fix{
  height: 65px; /* Đặt chiều cao của nav là 65px */
  display: flex;
  align-items: center;
}

.header-fix ul.euiKeyPadMenu {
  height: 65px;
  inline-size: auto !important;
}

.header-fix ul.euiKeyPadMenu li {
  height: 65px;
}

.header-fix ul.euiKeyPadMenu li button {
  height: 65px;
}


.brecrum-header-layout{
  margin-inline:0 !important;
}

.EuiHorizontalRule_brecrum{
  margin-block:14px !important ;
}

.Menu_IconChevronDown_Search{
  padding: 5px;
}